/* палітра кольорів */
/* колір основного тексту rgba(33, 33, 33, 1)*/
/* колір вторичного тексту rgba(117, 117, 117, 1)*/
/* колір основного заголовку rgba(255, 255, 255, 1)*/
/* колір акценту color: #2196F3;*/
/* основний колір фону #E5E5E5;*/


:root {
    --secondary-color: rgba(117, 117, 117, 1);
    --main-color: rgba(33, 33, 33, 1);
    --main-title-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --main-background: #E5E5E5;
}


body {
    background-color: var(--main-background);
    color: var(--main-color);
    font-family: roboto;
    letter-spacing: 0.03em;
    font-family: Roboto;
}

.list {
    list-style: none;
}

/* шапка сторінки */
/* логотип */
.logo {
    color: black;
    text-decoration: none;

    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
}

.logo-title {
    color: var(--accent-color);
}

/* навігація сайту */
.site-nav a {
    color: var(--main-color);
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14%;
    letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

/*контакти*/
.contacts-nav a {
    color: var(--secondary-color);
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14%;
    letter-spacing: 0.02em;
}

.contacts-nav a:hover,
.contacts-nav a:focus {
    color: var(--accent-color);
}

/* герой */
.hero {}

.hero-title {
    color: #FFFFFF;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36%;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.button button {
    color: var(--main-title-color);
    background-color: var(--accent-color);

    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88%;
    /* identical to box height, or 188% */
    letter-spacing: 0.06em;
}

/* список переваг */

.text h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.text p {
    color: var(--secondary-color);


    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71%;
}

/* приклади робіт */

.secondary-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16%;
    text-align: center;
}

/* наша команда */

.last-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16%;
    text-align: center;
}

.avatar h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18%;

    text-align: center;
}

.avatar p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 11.18%;

    text-align: center;
}


.avatar p {
    color: var(--secondary-color);
}

/* підвал */
.logo-icon-link {
    color: var(--main-title-color);
    text-decoration: none;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74%;

}

.logo-icon {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19%;

}

.logo-icon-link:hover,
.logo-icon-link:focus {
    color: var(--accent-color);
}





/* портфоліо */
/* палітра кольорів */
/* фон кнопки rgba(245, 244, 250, 1)*/

:root {
    --background-botton: rgba(245, 244, 250, 1);
}

/* фільтр */
.button-control {
    background-color: var(--background-botton);
    color: var(--main-color);

}

.button-control:hover,
.button-control:focus {
    color: var(--accent-color);

    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62%;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: 0.03em;
}

/* набор контенту */

.img-title a {
    text-decoration: none;
}

.img-title h2 {
    color: var(--main-color);

    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0%;

    letter-spacing: 0.06em;
}

.img-title p {
    color: var(--secondary-color);

    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 11.88%;
    /* identical to box height, or 188% */

    letter-spacing: 0.03em;
}

/* підвал */